<!DOCTYPE html>
<html style="height: 100%">
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 响应式的导航栏</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height: 100%">
<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-2">
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <nav class="navbar navbar-default" role="navigation" style="background-color:#c3e6cb;">
                <div class="container-fluid">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                </div>
            </nav>
            </div>
        </div>
        <div class="col-md-10"></div>
    </div>
</div>
</body>
</html>
