{% extends "navbar.html" %}
{% block content %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Select Test Suite</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Test Suite</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                            {% for suite in suites %}
                            <option value="{{ suite.id }}">{{ suite.id }}--{{ suite.name }}--{{ suite.creater }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" data-dismiss="modal">Close</a>
                    <a class="btn btn-primary" href="{{ url_for('runner.add_test_runner') }}">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Project [{{ project_name }}]</li>
        <li class="breadcrumb-item active">Test Suites</li>
    </ol>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert">
		&times;
	    </a>
	    <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    <div style="margin-bottom:20px">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Search" style="border-radius:1.75rem;border:1px solid #ced4da;">
                <button class="btn btn-success" type="button" style="margin-left:10px;">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin:0px 5px;">
                    <a class="nav-link btn btn-primary">Export</a>
                </li>
                <li class="nav-item" style="margin:0px 5px;">
                    <a class="nav-link btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add Test Run</a>
                </li>
                <li class="nav-item" style="margin:0px 5px;">
                    <a class="nav-link btn btn-primary" href="{{ url_for('api.add_test_suite') }}">Add Test Suite</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        {% if suites %}
        <table class="table">
            <thead>
                <tr>
                    <th>Suite Name</th>
                    <th>Creater</th>
                    <th>Status</th>
                    <th>Belong to Project</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for suite in suites %}
                {% if suite.status == "waiting" %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                    </td>
                </tr>
                {% elif suite.status == "running" %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                    </td>
                </tr>
                {% elif suite.status == "success" %}
                <tr class="table-success">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                        <a class="btn btn-success">History</a>
                    </td>
                </tr>
                {% elif suite.status == "failed" %}
                <tr class="table-danger">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                        <a class="btn btn-success">History</a>
                    </td>
                </tr>
                {% elif suite.status == "error" %}
                <tr class="table-warning">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <th style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</th>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                        <a class="btn btn-success">History</a>
                    </td>
                </tr>
                {% else %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ suite.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{% if suite.status %}{{ suite.status }}{% endif %}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ suite.project.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary" href="{{ url_for('api.show_test_cases', suite_id=suite.id) }}">Details</a>
                        <a class="btn btn-danger" href="{{ url_for('api.delete_test_suite', suite_id=suite.id) }}">Delete</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <hr style="border-top:3px solid rgba(0,0,0,.1);">
        <div class="container text-center">
            <h4>Not found any test suite, you can add first</h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}