{% extends "navbar.html" %}
{% block content %}
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Project [{{ project_name }}]</li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('runner.show_test_runner', project_id = project_id) }}">Test Runner [{{ runner_name }}]</a>
        </li>
        <li class="breadcrumb-item active">Detail</li>
    </ol>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert">
		&times;
	    </a>
	    <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    <div style="margin-bottom:20px">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <form class="form-inline">
                <input class="form-control" type="text" placeholder="Search" style="border-radius:1.75rem;border:1px solid #ced4da;">
                <button class="btn btn-success" type="button" style="margin-left:10px;">Search</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin:0 10px;">
                    <a class="nav-link btn btn-primary">Run All Cases</a>
                </li>
            </ul>
        </nav>
    </div>
    {% if cases %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Case Name</th>
                    <th>Creater</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                {% if case.status == "waiting" %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.status }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% elif case.status == "running" %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.status }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% elif case.status == "success" %}
                <tr class="table-success">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.status }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% elif case.status == "failed" %}
                <tr class="table-danger">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.status }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% elif case.status == "error" %}
                <tr class="table-warning">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.status }}</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% else %}
                <tr class="table-secondary">
                    <td style="border-top-width:5px;border-color:white;">{{ case.name }}</td>
                    <td style="border-top-width:5px;border-color:white;">{{ case.creater }}</td>
                    <td style="border-top-width:5px;border-color:white;">waiting</td>
                    <td style="border-top-width:5px;border-color:white;">
                        <a class="btn btn-primary">Details</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <hr style="border-top:3px solid rgba(0,0,0,.1);">
    <div class="container text-center">
        <h4>Not found any test case, you can add first</h4>
    </div>
    {% endif %}
</div>
{% endblock %}